body {
    background: radial-gradient(ellipse at center, #99b3c9 0%,#99b3c9 0%,#99b3c9 5%,#151e6d 100%,#2989d8 100%,#207cca 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.myForm {
    margin: 10px 20px 10px 20px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    background-color: #dddddd;
    z-index: 2;
}
.formError {
    position:absolute;
    top:265px;
    right:50%; /* Positions 50% from right (right edge will be at center) */
    margin-right:-165px; /* Positions 200px to the left of center */
    display: block;
    font-size: 15px;
    color: red;
    display: none;
    background-color: rgb(234, 218, 59);
    border-radius: 3px;
    width: 330px;
}

.artistField {
    position:absolute;
    top:660px;
    right:50%; /* Positions 50% from right (right edge will be at center) */
    margin-right:-70px; /* Positions 200px to the left of center */
    display: block;
    font-size: 20px;
    color: red;
    background-color: rgb(234, 218, 59)

}
.songField {
    position:absolute;
    top:695px;
    right:50%; /* Positions 50% from right (right edge will be at center) */
    margin-right:-70px; /* Positions 200px to the left of center */
    display: block;
    font-size: 20px;
    color: red;
    background-color: rgb(234, 218, 59)

}
.formButton {
    position:absolute;
    top:175px;
    right:50%; /* Positions 50% from right (right edge will be at center) */
    margin-right:-50px; /* Positions 200px to the left of center */
    display: block;
    font-size: 30px;
}
#item1 {
    position:absolute;
    top:331px;
    right:50%; /* Positions 50% from right (right edge will be at center) */
    margin-right:15px; /* Positions 200px to the left of center */
    display: block;
    font-size: 30px;
    color: red;
    height: 46px;
    width: 120px;

}
#item2 {
    position:absolute;
    top:398px;
    right:50%; /* Positions 50% from right (right edge will be at center) */
    margin-right:15px; /* Positions 200px to the left of center */
    display: block;
    font-size: 30px;
    color: red;
    height: 46px;
    width: 120px;

}
#item3 {
    position:absolute;
    top:464px;
    right:50%; /* Positions 50% from right (right edge will be at center) */
    margin-right:13px; /* Positions 200px to the left of center */
    display: block;
    font-size: 30px;
    color: red;
    height: 46px;
    width: 120px;

}
#item4 {
    position:absolute;
    top:526px;
    right:50%; /* Positions 50% from right (right edge will be at center) */
    margin-right:12px; /* Positions 200px to the left of center */
    display: block;
    font-size: 30px;
    color: red;
    height: 46px;
    width: 120px;

}
#item5 {
    position:absolute;
    top:330px;
    right:50%; /* Positions 50% from right (right edge will be at center) */
    margin-right:-142px; /* Positions 200px to the left of center */
    display: block;
    font-size: 30px;
    color: red;
    height: 46px;
    width: 120px;

}
#item6 {
    position:absolute;
    top:397px;
    right:50%; /* Positions 50% from right (right edge will be at center) */
    margin-right:-141px; /* Positions 200px to the left of center */
    display: block;
    font-size: 30px;
    color: red;
    height: 46px;
    width: 120px;

}
#item7 {
    position:absolute;
    top:462px;
    right:50%; /* Positions 50% from right (right edge will be at center) */
    margin-right:-141px; /* Positions 200px to the left of center */
    display: block;
    font-size: 30px;
    color: red;
    height: 46px;
    width: 120px;

}
#item8 {
    position:absolute;
    top:526px;
    right:50%; /* Positions 50% from right (right edge will be at center) */
    margin-right:-140px; /* Positions 200px to the left of center */
    display: block;
    font-size: 30px;
    color: red;
    height: 46px;
    width: 120px;

}
.results {
    padding: 2px;
    font-size: xx-small;
    font-weight: bold;
}
#jukebox {
    position:relative;
    z-index: -1;
}
.formSubmit {
    display: block;
    color: darkgreen;
    border-radius: 3px;
    top: 320px;
    z-index: 1;
    font-size: xx-small;
    width:50%;
    margin: auto;
    margin-top: -100px;
    text-align: center;
    
}
.tablecell {
    text-align: center;
    height: 51px;
    color: red;
    font-size: xx-small;
    border: black;
    border-style: solid;
    z-index: 1;

}
td {
    height: 50px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
}
.resultsTable {
    display: block;
    border: red;
    border-spacing: 8px;
    width: 300px;
    border-style: solid;
    position: relative;
    margin: auto;
    margin-top: -490px;
    z-index: 1;
    font-size: xx-small;
}